

<% @projects.each do |project| %>
  <div class="">
      <div id= <%="project_" + project.id.to_s + "_name" %>>
          <%= project.name %>
      </div>
      <div id= <%="project_" + project.id.to_s + "_size" %>>
          <%= project.total_size%>
      </div>


  </div>
<% end %>
